.row
  .col-xs-12.col-sm-6.col-sm-offset-3.rivalry
    -# .row
    -#   .col-xs-6
    -#     %img.img-responsive.home-team{src: "http://www.ucarecdn.com/031157f9-0cae-47ce-b465-7c8d1cc3f6e4/-/scale_crop/300x200/center/" }
    -#   .col-xs-6
    -#     %img.img-responsive.away-team{src: "http://www.ucarecdn.com/cf6e9f58-18d4-48dd-8cdf-b7d53f12e267/-/scale_crop/300x200/center/" }
    .row.home-away-wrap
      .col-xs-6.home-player-wrap
        .home-player{:style => "background-image: url(http://www.ucarecdn.com/1ccc85d7-b759-4cab-9414-3a217435eb94/-/scale_crop/400x800/center/)" }
      .col-xs-6.away-player-wrap
        .away-player{:style => "background-image: url(http://www.ucarecdn.com/265c77ac-dcaf-4498-ab5d-3c84d87756e8/-/scale_crop/400x800/center/)" }
      .splash-wrap
        %img{ :class => "img-responsive", src: "https://i.imgur.com/REDuOBB.png" }
      -# .bull-wrap
      -#   %img{ :class => "img-responsive", src: "https://i.imgur.com/6BiEcJE.png" }
    .row.info
      .col-xs-12
        %p ttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, bl
    .row.social-share
      .col-xs-12
        %ul.list-inline
          %li
            .twitter
              = twitter_button
          %li
            .linkedin
              = linkedin_button
          %li
            .facebook
              = facebook_button
