/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//Import bootstrap-sprockets
@import "bootstrap-sprockets";
// Import cerulean variables
@import "bootswatch/yeti/variables";
// Then bootstrap itself
@import "bootstrap";
// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }
// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";

body {
  // background-color: #AF2E2E;
  background-color: #f0f0f0;
  .container {

  }
  color: gray;
}
.rivalry {

  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 1em 1em;

  .home-away-wrap {
    position: relative;
  }
  .home-team, .away-team {

  }
  .home-team {

  }
  .away-player-wrap {
    padding-left: 0;
  }
  .home-player-wrap {
    padding-right:0;
  }
  .away-team {

  }
  .home-player, .away-player {
    height: 400px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home-player {

  }
  .away-player {
    float: right;
  }
  .bull-wrap {
    position: absolute;
    top: 500px;
    z-index: 1000;
  }
  .splash-wrap {
    position: absolute;
    bottom: 0;
    z-index: 1000;
  }
}
.info {
  padding: 0 1em;
}

// SOCIAL SHARE START
.social-share {
  // bugfix
  .facebook {
    .fb-like {
      position: absolute;
      top: -1px;
    }
  }
  .twitter {

  }
  .linkedin {

  }
}
// SOCIAL SHARE END
